<div class="w3-dropdown-click">
  <input type="hidden" name="country">
  <button onclick="myFunction()" class="w3-button w3-black">Select Car</button>
  <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
    <% @vehicles.each do |vehicle|%>
    <a href="#" class="w3-bar-item w3-button"><%= vehicle.model%></a>
    <% end %>
  </div>
  
</div>

<script>
function myFunction() {
  var x = document.getElementById("Demo");
  if (x.className.indexOf("w3-show") == -1) {  
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

