   <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    
    <h4 id="contact"><b>Start Trip</b></h4>

        <%= render 'form', trip: @trip %>
        <div>
        <%= render 'car_select' %>
        </div>
  </div>